header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px;

  &.black {
    background-color: black;
  }

  &.gray {
    background-color: gray;
  }

  .logo {
    width: 70px;
  }

  .sort {
    cursor: pointer;
  }
}
